@model PageAdmin.Models.ViewModel.AdminUserIndexViewModel
@{
    
    ViewBag.Title = "Admins";
}

<h2>Admins</h2>

<div class="container">
    <div class="row">
        <div class="text-center">
            @Html.LabelFor(m => m.Name) : @Model.Name || @Model.SiteName
        </div>
    </div>
    <div class="row">

        <div class="users col-md-12">
            <div id="UserGrid"></div>
        </div>

        <div id="Open" class="user" style="border: 1px solid black; padding:10px; ">
            <i class="glyphicon-plus"> Lägg till användare</i>
        </div>
        <div id="CreateUser" class="hidden user-form">
            @using (Html.BeginForm("CreateUser", "AdminUser", FormMethod.Post, htmlAttributes: new { id = "CreateUser" })) {
            <div id="createUserForm"></div>
            <input type="submit" value="Skapa Användare" id="createUser" />
            }
        </div>

        <div id="EditUser" class="hidden user-form">
            @using (Html.BeginForm("UpdateUser", "AdminUser", FormMethod.Post, htmlAttributes: new { id = "EditUserr" })) {
            <div id = "editUserForm" ></div >


             <input type = "submit" value = "Ändra" id = "editUser" />
            }
        </div>


    </div>

</div>
@section Script{
<script>
    $(function () {
        $.post({
            url: '@Url.Action("LoadUserGrid", "AdminUser")',
            success: function (data) {
                $("#UserGrid").html(data);
            },
            failure: function () {
                $("#UserGrid").html("Kunde inte ladda användare.")
            }
        })
    })

    function EditUser(id) {
        $.post({
            url: '@Url.Action("LoadForm", "AdminUser")',
            data: {id: id},
            success: function (data) {
                $('#editUserForm').html(data)
                $('#EditUser').toggleClass("hidden");
            }
        })
    }

    function DeleteUser(id) {
        console.log("hej");
        $.post({
            url: '@Url.Action("DeleteUser", "AdminUser")',
            data: {id: id },
            success: function (data) {
                alert("Användare borttagen.");
                $("#UserGrid").html("").html(data);
            }
        })
    }


    $("#Open").click(function () {
        console.log("hej");
            $.post({
            url: '@Url.Action("LoadForm", "AdminUser")',
            //data: {id: id},
            success: function (data) {
                $('#createUserForm').html(data)
                $('#CreateUser').toggleClass("hidden");
            }
        })
    })
</script>
    }
